<html>
<head>
</head>
<body>
  <h1>{{ title }}</h1>
  <div>
    <h3>Categories</h3>
    {% for category in categories %}
    <ul>
      <li><a href="{{ url_for('items', name=category.name) }}">{{ category.name }}</a></li>
    </ul>
    {% endfor %}
  </div>
  <div>
    <h3>Latest Items</h3>
    {% for item in items %}
    <ul>
      <li><a href="{{ url_for('item', name=item.name, description=item.title) }}">{{ item.title }}</a> <a href="{{ url_for('items', name=item.name) }}">({{ item.name }})</a></li>
    </ul>
    {% endfor %}
</body>
</html>