<html>
<head>
</head>
<body>
  <h1>{{ title }}</h1>
  <div>
    <h3>Categories</h3>
    {% for category in categories %}
    <ul>
      <li><a href="{{ url_for('items', name=category.name) }}">{{ category.name }}</a></li>
    </ul>
    {% endfor %}
  </div>
  <div>
    {% if count == 1 %}
    <h3>{{ name }} Items - {{ count }} item</h3>
    {% else %}
    <h3>{{ name }} Items - {{ count }} items</h3>
    {% endif %}
    {% for item in items %}
      {% for i in item.items %}
      <ul>
        <li><a href="{{ url_for('item', name=name, description=i.title) }}">{{ i.title }}</a></li>
      </ul>
      {% endfor %}
    {% endfor %}
</body>
</html>