<html>
  <head>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <h3>Add Item</h3>
    <form action="{{ url_for('new', name=name) }}" method='POST'>
      <p>Name:</p>
      <input type='text' size='30' name='name'>
      <p>Description:</p>
      <input type='text' size='30' name='description'>
      <p>Category:</p>
      <select name='cat_id'>
        <option value=1>Soccer</option>
        <option value=2>Basketball</option>
        <option value=3>Baseball</option>
        <option value=4>Frisbee</option>
        <option value=5>Snowboarding</option>
        <option value=6>Rock Climbing</option>
        <option value=7>Football</option>
        <option value=8>Surfing</option>
        <option value=9>Hockey</option>
      </select>
      </br>
      </br>
      <input type='submit' value='Create'>
    </form>
  </body>
</html>